In [ ]:
#importing the dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as seaborn
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
13949,24754,1.252924,-0.182189,-0.802716,-0.210981,1.916713,3.643624,-0.778711,0.818295,1.706962,...,-0.497088,-1.211285,0.043809,0.964159,0.442030,0.261483,-0.051402,0.005112,23.74,0.0
13950,24756,-0.346979,-2.103284,-0.685061,1.961605,-0.401125,0.473632,1.133816,-0.256528,0.893409,...,0.359662,-0.316275,-0.864259,-0.279881,0.491802,-0.353996,-0.149931,0.129795,794.20,0.0
13951,24759,-6.053652,-5.988723,0.810413,-0.011811,1.308135,-0.590803,-0.725838,-0.234840,1.624646,...,-0.771970,1.474668,3.176363,-0.302410,0.052529,-0.373871,-0.700463,2.508443,60.00,0.0
13952,24759,1.169121,-1.284945,0.032717,-0.681670,0.660598,4.412578,-1.913115,1.076592,1.501230,...,-0.557596,-0.882435,-0.041523,0.975445,0.297229,0.550515,0.015029,0.032067,90.00,0.0
13953,24759,-6.917152,5.854171,-1.652458,-1.488884,-0.833891,-0.344418,0.393789,0.379968,6.133597,...,-1.404681,-1.124694,0.174333,-0.528234,0.990685,-0.035875,1.071374,-0.168831,NaN,NaN

In [ ]:
credit_card_data.shape

(13954, 31)

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    1
Class     1
dtype: int64

In [ ]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13954 entries, 0 to 13953
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    13954 non-null  int64
 1   V1      13954 non-null  float64
 2   V2      13954 non-null  float64
 3   V3      13954 non-null  float64
 4   V4      13954 non-null  float64
 5   V5      13954 non-null  float64
 6   V6      13954 non-null  float64
 7   V7      13954 non-null  float64
 8   V8      13954 non-null  float64
 9   V9      13954 non-null  float64
 10  V10     13954 non-null  float64
 11  V11     13954 non-null  float64
 12  V12     13954 non-null  float64
 13  V13     13954 non-null  float64
 14  V14     13954 non-null  float64
 15  V15     13954 non-null  float64
 16  V16     13954 non-null  float64
 17  V17     13954 non-null  float64
 18  V18     13954 non-null  float64
 19  V19     13954 non-null  float64
 20  V20     13954 non-null  float64
 21  V21     13954 non-null  float64
 22  V22     13954 non-null  float64
 23  V23     13954 non-null  float64
 24  V24     13954 non-null  float64
 25  V25     13954 non-null  float64
 26  V26     13954 non-null  float64
 27  V27     13954 non-null  float64
 28  V28     13954 non-null  float64
 29  Amount  13953 non-null  float64
 30  Class   13953 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 3.3 MB

In [ ]:
credit_card_data = credit_card_data.dropna()

In [ ]:
credit_card_data.shape

(13953, 31)

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
#i have to change the class from float to int before i can use it for the target
credit_card_data.Class=credit_card_data['Class'].astype(int)

In [ ]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13953 entries, 0 to 13952
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    13953 non-null  int64
 1   V1      13953 non-null  float64
 2   V2      13953 non-null  float64
 3   V3      13953 non-null  float64
 4   V4      13953 non-null  float64
 5   V5      13953 non-null  float64
 6   V6      13953 non-null  float64
 7   V7      13953 non-null  float64
 8   V8      13953 non-null  float64
 9   V9      13953 non-null  float64
 10  V10     13953 non-null  float64
 11  V11     13953 non-null  float64
 12  V12     13953 non-null  float64
 13  V13     13953 non-null  float64
 14  V14     13953 non-null  float64
 15  V15     13953 non-null  float64
 16  V16     13953 non-null  float64
 17  V17     13953 non-null  float64
 18  V18     13953 non-null  float64
 19  V19     13953 non-null  float64
 20  V20     13953 non-null  float64
 21  V21     13953 non-null  float64
 22  V22     13953 non-null  float64
 23  V23     13953 non-null  float64
 24  V24     13953 non-null  float64
 25  V25     13953 non-null  float64
 26  V26     13953 non-null  float64
 27  V27     13953 non-null  float64
 28  V28     13953 non-null  float64
 29  Amount  13953 non-null  float64
 30  Class   13953 non-null  int64
dtypes: float64(29), int64(2)
memory usage: 3.4 MB

In [ ]:
#now i want to check the distrubution of legit and fraudulent transactions 
credit_card_data.Class.value_counts()

0    13897
1       56
Name: Class, dtype: int64

In [ ]:
# as can be seen fromabove, the data is skewed towards the legit transactions
# i cant feed this data into the ML algo because we have very very little case of fruadulent data
#less than 1% when cmpared to each other, highly unbalanced data
# 0--> normal transaction
# 1--> fraud transaction

In [32]:
# now we want to separate the data for more analysis 
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [33]:
print(legit.shape)
print(fraud.shape)

(13897, 31)
(56, 31)

In [30]:
legit.Amount.describe()

count    13897.000000
mean        63.773909
std        177.164503
min          0.000000
25%          5.770000
50%         15.900000
75%         52.370000
max       7712.430000
Name: Amount, dtype: float64

In [34]:
fraud.Amount.describe()

count      56.000000
mean       90.815893
std       310.308450
min         0.000000
25%         1.000000
50%         1.000000
75%         1.025000
max      1809.680000
Name: Amount, dtype: float64

In [39]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,10111.481255,-0.217093,0.266252,0.887227,0.276789,-0.107510,0.136745,-0.131462,-0.020385,1.005460,...,0.020758,-0.068686,-0.158230,-0.034834,0.013065,0.117928,0.034349,0.009565,0.002329,63.773909
1,12262.107143,-4.727948,4.660436,-9.328536,6.783464,-2.890388,-2.030360,-6.578337,1.028374,-2.981468,...,0.453283,0.116896,0.048132,-0.225526,-0.452514,-0.124184,0.333325,0.793484,-0.046177,90.815893

In [ ]:
#you can see there is quite a different between the mean of the legit and the fraud
#that is going to hel with the classification

#because of the massive size different of the two data types,we now want to do something
#somthing called undersampling

**Under-Sampling**
we want to build a new dataset from the legit sample that is identical to the fraud sample

fraud sample --> 56
so we have to built a random sample of 56 rows from the the legit

In [40]:
legit_sample = legit.sample(n=56)

**Concatinating two dataframes**

now we have to concatinate the new legit sample and the fraud sample

In [41]:
new_dataset = pd.concat([legit_sample,fraud], axis=0)

In [42]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
2515,2090,-0.644241,0.786644,1.088523,-2.055515,0.071026,-1.257812,1.033349,-0.263347,1.132693,...,0.070217,0.633938,-0.203539,0.377176,-0.022206,-0.822497,0.354772,0.044352,1.00,0
9130,12941,1.202296,-0.076851,0.720358,-0.014804,-0.560375,-0.212971,-0.549070,0.094123,1.565859,...,-0.217326,-0.411324,0.138285,-0.020110,-0.041242,0.882192,-0.090861,-0.013051,0.76,0
13616,24119,-9.594077,-10.922547,3.374856,2.503224,10.951324,-7.130336,-8.177309,-0.475428,3.564043,...,-1.305676,0.054526,-3.872989,0.494918,-0.486716,0.532787,1.712357,-1.353326,17.00,0
10124,15426,0.379613,-1.851507,0.341309,-1.167861,-0.642194,1.787191,-0.766507,0.564180,3.008724,...,0.322452,0.728323,-0.327337,-1.332290,0.013736,0.171425,0.015317,0.049537,360.00,0
3692,3155,-0.962392,-0.036745,0.328156,-1.865282,0.047037,-0.690412,0.212911,0.365729,-1.928036,...,0.031507,-0.538216,0.139076,-0.549744,-0.287972,-0.723186,-0.044392,0.001017,79.00,0

In [43]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
11880,20451,-15.819179,8.775997,-22.804686,11.864868,-9.092361,-2.386893,-16.560368,0.948349,-6.310658,...,-2.350634,1.036362,1.136051,-1.043414,-0.108923,0.657437,2.136424,-1.411945,1.0,1
12070,20931,-16.367923,9.223692,-23.270631,11.844777,-9.462037,-2.450444,-16.925152,1.384208,-6.287736,...,-2.343674,1.004602,1.188212,-1.047184,-0.035573,0.664900,2.122796,-1.416741,1.0,1
12108,21046,-16.917468,9.669900,-23.736443,11.824990,-9.830548,-2.514829,-17.290657,1.820408,-6.264903,...,-2.336111,0.972755,1.241866,-1.051086,0.038009,0.672317,2.108471,-1.421243,1.0,1
12261,21419,-17.467710,10.114816,-24.202142,11.805469,-10.198046,-2.579938,-17.656788,2.256902,-6.242149,...,-2.328024,0.940830,1.296817,-1.055104,0.111792,0.679695,2.093541,-1.425491,1.0,1
12369,21662,-18.018561,10.558600,-24.667741,11.786180,-10.564657,-2.645681,-18.023468,2.693655,-6.219464,...,-2.319479,0.908839,1.352904,-1.059222,0.185751,0.687037,2.078081,-1.429517,1.0,1

In [44]:
new_dataset.shape

(112, 31)

In [45]:
new_dataset.Class.value_counts()

0    56
1    56
Name: Class, dtype: int64

In [46]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,9582.035714,-0.300031,0.049671,0.667802,0.245579,-0.152182,-0.242888,-0.390662,0.130366,0.985191,...,-0.124307,-0.120257,-0.161273,-0.132738,0.095451,0.190028,0.016136,0.046507,0.006528,56.006250
1,12262.107143,-4.727948,4.660436,-9.328536,6.783464,-2.890388,-2.030360,-6.578337,1.028374,-2.981468,...,0.453283,0.116896,0.048132,-0.225526,-0.452514,-0.124184,0.333325,0.793484,-0.046177,90.815893

In [ ]:
#even with the new samller= dataset, the difference btw the two is still quite a lot
# and across board 
#it tells us that the nature of the dataset hasnt changed so can still be used accuractely 

#if the samples were bad, we would have had very different results but we dont in this case

Splitting the data

In [48]:
X = new_dataset.drop('Class',axis=1)
Y= new_dataset.Class

In [49]:
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
2515,2090,-0.644241,0.786644,1.088523,-2.055515,0.071026,-1.257812,1.033349,-0.263347,1.132693,...,0.060915,0.070217,0.633938,-0.203539,0.377176,-0.022206,-0.822497,0.354772,0.044352,1.00
9130,12941,1.202296,-0.076851,0.720358,-0.014804,-0.560375,-0.212971,-0.549070,0.094123,1.565859,...,-0.195552,-0.217326,-0.411324,0.138285,-0.020110,-0.041242,0.882192,-0.090861,-0.013051,0.76
13616,24119,-9.594077,-10.922547,3.374856,2.503224,10.951324,-7.130336,-8.177309,-0.475428,3.564043,...,-3.894969,-1.305676,0.054526,-3.872989,0.494918,-0.486716,0.532787,1.712357,-1.353326,17.00
10124,15426,0.379613,-1.851507,0.341309,-1.167861,-0.642194,1.787191,-0.766507,0.564180,3.008724,...,0.452001,0.322452,0.728323,-0.327337,-1.332290,0.013736,0.171425,0.015317,0.049537,360.00
3692,3155,-0.962392,-0.036745,0.328156,-1.865282,0.047037,-0.690412,0.212911,0.365729,-1.928036,...,0.208887,0.031507,-0.538216,0.139076,-0.549744,-0.287972,-0.723186,-0.044392,0.001017,79.00

In [50]:
Y.head()

2515     0
9130     0
13616    0
10124    0
3692     0
Name: Class, dtype: int64

splitting to training and test data

In [54]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.1,random_state=2,stratify=Y)
#stratify is for the even distribution of the 1s and zeros

In [55]:
print(X_train.shape,Y_train.shape)

(100, 30) (100,)

Logistics Regression

In [61]:
model = LogisticRegression(max_iter=1000)

In [62]:
model.fit(X_train,Y_train)

# #putting the max_iter shoild be the last resort.
#  try the other things thta can b done first
#  standardization etc

LogisticRegression(max_iter=1000)

In [ ]:
#now to predict the accuracy score of our model

In [66]:
training_data_prediction = model.predict(X_train)

In [67]:
training_data_prediction_accuracy = accuracy_score(Y_train,training_data_prediction)
print('the accuracy score of our training data prediction is :', training_data_prediction_accuracy)

the accuracy score of our training data prediction is : 1.0

In [68]:
test_data_prediction = model.predict(X_test)

In [69]:
test_data_prediction_accuracy = accuracy_score(Y_test,test_data_prediction)
print('the test data accuracy is:', test_data_prediction_accuracy)

the test data accuracy is: 1.0